In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
plt.style.use('seaborn-poster')

In [9]:
ads = pd.read_csv('/Users/swllms/DAT-10-14-SW/class material/Unit3/Data/advertising.csv', usecols=['TV', 'radio', 'newspaper', 'sales'])
ads.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
#What are the Features/Covariates/Predictors? all means the same thing: TV, Radio, Newspaper
#What Is the Outcome/Response/Target Outcome? all the same: Sales

In [17]:
#Variance in python

numerator = np.sum((ads['TV'] - ads['TV'].mean())**2)

In [18]:
n = ads.shape[0]

In [31]:
tv_var = numerator / (n - 1)
tv_var

7370.94989321608

In [23]:
ads['TV'].Var()
### What are the units used to report the variance? 
### dollars Squared 7370.94 (units are squared)

7370.949893216087

In [25]:
nrr = np.sum((ads['radio'] - ads['radio'].mean())**2)

In [26]:
rad_var = nrr / (n - 1)
rad_var

220.42774271356785

In [30]:
ads['radio'].var()

220.4277427135678

In [32]:
### Standard deviation is the square root of the variation 
np.sqrt(ads['TV'].var())

85.8542363149081

In [33]:
ads['TV'].std()
### What are the units used to report the standard deviation? 
### $85.85 dollars (Single Unit)

85.8542363149081

In [ ]:
#Covariance Questions:
#What will the covariance of two variables be when they are both larger than average?
#Both below average?
#If one is above, and one is below?
#What happens if you take the covariance of a variable with respect to itself?

#Calculate the covariance between the radio and sales column. 
#Use the np.cov() function to double check your results.

In [56]:
x = ads['radio'] - ads['radio'].mean()

In [66]:
y = ads['sales'] - ads['sales'].mean()

In [58]:
xy = (x*y).sum()
xy

8882.502

In [59]:
cov_xy = xy / (n-1)
cov_xy #Covar of radio and sales

44.635688442211055

In [54]:
ads[['radio', 'sales']].cov()

            radio      sales
radio  220.427743  44.635688
sales   44.635688  27.221853

In [63]:
z = ads['TV'] - ads['TV'].mean()

In [76]:
xz = np.sum(x*z)

In [77]:
cov_xz = xz / (n-1)
cov_xz ##covar of Radio and TV

69.86249246231154

In [75]:
ads[['radio', 'TV']].cov()

            radio           TV
radio  220.427743    69.862492
TV      69.862492  7370.949893

In [70]:
std1 = ads['TV'].std()

In [71]:
std2 = ads['radio'].std()

In [78]:
###Correlation divide by the standard deviation 

corlxz = cov_xz / (std1*std2)
corlxz

0.054808664465830076

In [79]:
ads[['TV', 'radio']].corr()

             TV     radio
TV     1.000000  0.054809
radio  0.054809  1.000000